

<div class="" *ngFor="let product of products">
<section class="text-gray-600 body-font overflow-hidden"  >
    <div class="container px-5 py-10 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap" >
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{product?.product?.title}}</h1>
          <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          </div>
          <p class="leading-relaxed mb-4">{{product?.product?.description}}</p>


          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Cantidad</span>
            <span class="ml-auto text-gray-900">{{product?.quantity}}</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">Precio unitario</span>
            <span class="ml-auto text-gray-900">{{product?.product?.price}}</span>
          </div>

          <div class="flex mb-6 border-gray-200 py-2">
            <span class="text-gray-500">Subtotal</span>
            <span class="ml-auto font-medium text-2xl text-gray-900">{{product?.product?.price * product?.quantity}}</span>
          </div>

          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900"></span>
            <button class="flex ml-auto bg-sky-900 hover:bg-sky-950 text-white hover:text-red-300 border-0 py-2 px-6 focus:outline-none rounded" (click)="deleteProduct(product.product._id)">Quitar del carrito</button>
          </div>
        </div>
        <img [alt]="product?.product?.title" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" [src]="">
      </div>
    </div>
  </section>
</div>


<div class="" *ngIf="products == '' ">
  <div class="flex flex-col text-center w-full mb-12">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Aún no hay productos para mostrar</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Encuentra lo que buscas en la sección productos.</p>
  </div>
  <div class="p-2 w-full">
    <button class="flex mx-auto bg-sky-900 hover:bg-sky-950 text-white hover:text-emerald-300 border-0 py-2 px-8 focus:outline-none rounded text-lg" routerLink="/" ng-reflect-router-link="/" href="/">Productos</button>
  </div>
</div>


<div class="container flex justify-end" *ngIf="products != '' ">
  <button class="bg-sky-900 hover:bg-sky-950 text-white hover:text-red-300 py-2 px-4 rounded" (click)="delProducts()">
    Vaciar carrito
  </button>
  <button class=" ml-4 bg-sky-900 hover:bg-sky-950 text-white hover:text-emerald-300 py-2 px-4 rounded" (click)="ticket()">
    Finalizar compra
  </button>
</div>


